<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heel</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img [src]="heel.image" class="figure-img img-fluid rounded" [alt]="heel.image" ></th>
        <td>{{heel.name}}</td>
        <td>{{heel.type}}</td>
        <td>{{heel.price}}</td>
        <td>{{heel.stock}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>COSMOPOLE SUEDE ANKLE BOOTS MOCA OPEN TOES</td>
        <td>BOOTS</td>
        <td>$85.000</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>COSMOPOLE SUEDE SANDALS WITH CLIP LIGHT BROWN</td>
        <td>SANDALS</td>
        <td>$70.000</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
