<table class="table table-dark table-hover text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heel</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Quantity</th>
        <th scope="col">Buy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heel of heels" [ngClass]="{'clearence': heel.clearence}">
        <th scope="row"><img [src]="heel.image" class="figure-img img-fluid rounded" [alt]="heel.image" ></th>
        <td>{{heel.name}}</td>
        <td>{{heel.type}}</td>
        <td>{{heel.price | currency}}</td>
        <td><span class="badge text-bg-warning" *ngIf="heel.stock == 0">SIN STOCK</span></td>
        <td>
          <app-input-integer [(quantity)]="heel.quantity" [max]="heel.stock" (maxReached)="maxReached($event)"  *ngIf="heel.stock"></app-input-integer>
          Cant seleccionada: {{heel.quantity}}
        </td>
        <td>
          <button class="btn btn-primary" *ngIf="heel.stock != 0" (click)="addToCart(heel)">Buy</button>
        </td>
      </tr>
    </tbody>
  </table>
