<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heel</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let heel of heels" [ngClass]="{'clearence': heel.clearence}">
        <th scope="row"><img [src]="heel.image" class="figure-img img-fluid rounded" [alt]="heel.image" ></th>
        <td>{{heel.name}}</td>
        <td>{{heel.type}}</td>
        <td>{{heel.price | currency}}</td>
        <td><span class="badge text-bg-warning" *ngIf="heel.stock === 0">SIN STOCK</span></td>
      </tr>
    </tbody>
  </table>
